

#current_date{
	text-align: center;
	font-size: 80%;
}



#nom{
	text-align: left;
	font-size: 100%;
}

#logo{
	width:60px;
}

#weather{
	max-width:50%;
}
#dropdownMenuButton1{
	min-width:100%;
	font-size: 90%;
	
}
#Deconnection{
	min-width:100%;
	
}
#State{
	position:absolute;
	white-space:nowrap;
	font-size: 150%;
	font-family: "Lucida Sans", sans-serif;
	font-weight: 900;
	margin-left: -80%;
	margin-top : 25%;
	
}

#ventil{
	
	font-size: 150%;
	font-family: "Lucida Sans", sans-serif;
	font-weight: 900;
	margin-right:10%;

}


/* SLIDE THREE */
.slideThree {
	width: 120px;
	height: 50px;
	background: linear-gradient(45deg,MediumOrchid, blue);
	font-family: "Lucida Sans", sans-serif;
	
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #ffffff;
	position: absolute;
	right: 15px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #ffffff;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 70px;
	height: 43px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}

.modal-header{
	font-size: 150%;
	box-shadow:3px 3px 10px gray; 
	font-family: "Lucida Sans", sans-serif;
	text-align : left;
	font-weight: 900;
}
.vertical-line1{
		position: relative;
        border-left: 2px solid #000;
        display: inline-block;
        
		min-height: 15%;
		margin-bottom: -1%;
		margin-left: 50%;	
		display:none;
		
}
.hline-bottom {
    padding-bottom: 15%;
    border-bottom: 2px solid #000; /* whichever color you prefer */
}

.hline-bottom-v-t {
    padding-bottom: 3%;
    border-bottom: 2px solid #000; /* whichever color you prefer */
}
.part1{
	margin-top:2%;
	display: flex;
    align-items: center;
    justify-content: center;
	
}

.part12{
	margin-top:2%;
}

#customRangetemp{
	background: linear-gradient(90deg,PowderBlue, Crimson);
	height:10px;
}



@media only screen and (min-width: 430px) {
	 /* For tablette: */
	.hline-bottom {
		padding-bottom: 8%;
	}
	#ventil{
		margin-left:43%;
	}
 }
 
 
 
@media only screen and (min-width: 970px) {
  /* For desktop: */
	#logo{width: 75px;}
	.hline-bottom-v-t{display:none;}
	#nom{
		text-align: left;
		font-size: 120%;
	}
	#current_date{
		text-align: center;
		font-size: 120%;
		margin-left:50%; 
	}
	#ventil{
		margin-left:40%;
	}
	
	.part1{
		position: relative;
		margin-right:50%;
		margin-top:2%;
	}
	
	.part22{
		margin-left:5%;
		margin-top:2%;
		max-width:40%;
	}
	
	.dropdown{	margin-left:5%;
				
			}
	.vertical-line1{
		display:inline-block;
		margin-top: -6%;
	}
	.hline-bottom {
		padding-bottom: 2%;
	}
	.part12{
		max-width:40%;
		margin-left:55%;
		margin-top:-7%;
	}
 }
 
 